.gora {
  background: center / cover no-repeat url("../public/images/legitka-gora.png");
  width: auto;
  height: 48px;
}

.date {
  font-size: small;
  background: center / cover no-repeat url("../public/images/legitka-nagodzine.png");
  width: auto;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: gray;
  padding-bottom: 5px;
}


.cialo {
  background: center / cover no-repeat url("../public/images/legitkabody.png");
  width: auto;
  height: 667px;
  display: grid;
}


.profil {
  bottom: -21px;
  left: 30px;
  width: 125px;
  height: 163px;
  position: relative;
  border-radius: 20px;
}

.flaga {
  width: 55px;
  height: 45px;
  position: relative;
  bottom: 200px;
  left: 30px;
}

.dol {
  background: center / cover no-repeat url("../public/images/legitkadol.JPEG");
  width: 610px;
  height: 96px;
}